@import '../../../../../../scss/vars.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 100%;

  .left {
    padding-left: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 50%;

    .wrap_arrow {
      display: flex;
      align-items: center;
      transform: translateY(2px);
      margin-right: 10px;

      .id_text {
        color: #fbc333;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        padding-right: 2px;
      }
    }

    .content {
      .question {
        background-color: unset;
        border: unset;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 500;
        color: $whiteColor;
      }
    }
  }

  .right {
    position: relative;
    min-height: 560px;
    flex: 0 0 50%;
  }
}
